.fundo{
    background-color: #07C1DD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
    
.fundoBranco{
    background-color: white;
    width: 465px;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 39px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 79px;
}

.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 41px;
}

.formLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campoLogin{
    padding-top: 39px;
    
}
.campoLogin > svg{
    padding-right: 5px;
}

.campoLogin > label{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 15px;
}

.campoLogin > input{
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    width: 255px;
    height: 36px;
    text-align: center;
}

.espacinho{
    margin-bottom: 8px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.botao > button{
    background: #07C1DD;
    color: white;
    width: 260px;
    height: 38px;
    border-radius: 4.8px;
    border: transparent;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
